<h5>Elige el departamento del que quieres ver los miembros</h5>
<select #dpt (change)="getDptMembers(dpt.value)">
    <option value="0">Seleccione un departamento</option>
    @for ( d of dpts; track $index ) {
        <option value="{{d.DepartamentoID}}">{{d.NombreDepartamento}}</option>
    }
</select>

<h5>Lista de miembros</h5>
<table class="table">
    <tr>
        <th>Nombre</th>
        <th>Apellidos</th>
        <th>Tlfn</th>
        <th>Correo</th>
        <th>Fecha incorporación</th>
    </tr>
    @for ( m of members; track $index ) {
    <tr>
        <td>{{ m.Nombre }}</td>
        <td>{{ m.Apellido }}</td>
        <td>{{ m.Telefono }}</td>
        <td>{{ m.Email }}</td>
        <td>{{ m.FechaIngreso }}</td>
    </tr>
    }
     
</table>